.newsMain {
	position: relative;
	display: inline-block;
	/* max-width: 32vw; */
	min-width: 15vw;
	min-height: 15vh;
	overflow: hidden;
	background-color: rgba(240, 255, 255, 0.5);
	padding: 4px;
	grid-column: span 2;
	box-shadow: 2px 2px 10px black;
}

.newsText {
	text-align: justify;
}

.date {
	float: left;
	color: grey;
}

.overlayBtn {
	position: absolute;
	top: -1px;
	right: -6px;
	background: transparent;
	outline: 0;
	border: none;
	font-size: 16px;
	transition: 0.25s;
}

.overlayBtn:focus {
	outline: 0;
}
.overlayBtn:hover {
	color: wheat;
	text-shadow: 0 0 1px black;
	font-size: 22px;
}

.spinner {
}
.spinnerCont {
	position: absolute;
	top: 36px;
	left: 6vw;
}

.author {
	display: block;
	text-align: right;
}
.authorText {
	color: darkslategray;
}

@media only screen and (max-width: 800px) {
	.spinner {
		height: 3vw;
		width: 3vw;
	}
}
