body {
	background-color: rgb(220, 220, 220);
	padding: 0;
}

.container-fluid {
	padding: 0;
}

body::-webkit-scrollbar {
	display: none;
}

#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: none;
}

.blurBG {
	filter: blur(2.5px);
	animation: blurAnim 1s;
}

@keyframes blurAnim {
	from {
		filter: blur(0px);
	}
	to {
		filter: blur(2.5px);
	}
}
